USE [master]
GO
/****** Object:  Database [Apple]    Script Date: 25/07/2021 6:42:18 CH ******/
CREATE DATABASE [Apple]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Apple', FILENAME = N'F:\Apple.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Apple_log', FILENAME = N'F:\Apple_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Apple].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Apple]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[User] [varchar](50) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[User] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DC]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DC](
	[User] [varchar](50) NOT NULL,
	[DCID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CT_DC] PRIMARY KEY CLUSTERED 
(
	[User] ASC,
	[DCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTOrder]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTOrder](
	[MaDH] [int] NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[Description] [varchar](50) NULL,
	[SL] [int] NULL,
	[GiaBan] [int] NULL,
	[Tong] [int] NULL,
 CONSTRAINT [PK_CTOrder] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [varchar](10) NOT NULL,
	[TenDM] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DCID] [varchar](10) NOT NULL,
	[TenDC] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Giam] [int] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[DCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[SDT] [varchar](10) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[User] [varchar](50) NOT NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[Quan] [nvarchar](50) NULL,
	[Phuong] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[SDT] ASC,
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLSP] [varchar](15) NOT NULL,
	[TenLSP] [nvarchar](50) NULL,
	[MaDM] [varchar](10) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[MaDH] [int] NOT NULL,
	[TongDH] [int] NULL,
	[TongSP] [int] NULL,
	[TongDC] [int] NULL,
	[TongShip] [int] NULL,
	[User] [varchar](50) NULL,
	[DCID] [varchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[Quan] [nvarchar](50) NULL,
	[Phuong] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[RateID] [varchar](10) NOT NULL,
	[RateImg] [varchar](50) NULL,
	[Text] [nvarchar](max) NULL,
	[User] [varchar](50) NULL,
	[MaSP] [varchar](10) NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[MaLSP] [varchar](15) NULL,
	[TenSP] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[GiaKM] [int] NULL,
	[img] [varchar](max) NULL,
	[img2] [varchar](max) NULL,
	[img3] [varchar](max) NULL,
	[img4] [varchar](max) NULL,
	[SLTon] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[MoreInfo] [nvarchar](max) NULL,
	[Views] [int] NULL,
	[LoaiHang] [int] NULL,
	[DataAdd] [date] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[User] [varchar](50) NOT NULL,
	[Pass] [varchar](20) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanAdmin]    Script Date: 25/07/2021 6:42:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanAdmin](
	[User] [varchar](50) NULL,
	[Pass] [varchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_TaiKhoan] FOREIGN KEY([User])
REFERENCES [dbo].[TaiKhoan] ([User])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_TaiKhoan]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [Relationship16] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [Relationship16]
GO
ALTER TABLE [dbo].[CT_DC]  WITH CHECK ADD  CONSTRAINT [Relationship20] FOREIGN KEY([User])
REFERENCES [dbo].[TaiKhoan] ([User])
GO
ALTER TABLE [dbo].[CT_DC] CHECK CONSTRAINT [Relationship20]
GO
ALTER TABLE [dbo].[CT_DC]  WITH CHECK ADD  CONSTRAINT [Relationship21] FOREIGN KEY([DCID])
REFERENCES [dbo].[Discount] ([DCID])
GO
ALTER TABLE [dbo].[CT_DC] CHECK CONSTRAINT [Relationship21]
GO
ALTER TABLE [dbo].[CTOrder]  WITH CHECK ADD  CONSTRAINT [Relationship6] FOREIGN KEY([MaDH])
REFERENCES [dbo].[Order] ([MaDH])
GO
ALTER TABLE [dbo].[CTOrder] CHECK CONSTRAINT [Relationship6]
GO
ALTER TABLE [dbo].[CTOrder]  WITH CHECK ADD  CONSTRAINT [Relationship7] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTOrder] CHECK CONSTRAINT [Relationship7]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [Relationship11] FOREIGN KEY([User])
REFERENCES [dbo].[TaiKhoan] ([User])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [Relationship11]
GO
ALTER TABLE [dbo].[LoaiSP]  WITH CHECK ADD  CONSTRAINT [Relationship4] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[LoaiSP] CHECK CONSTRAINT [Relationship4]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_TaiKhoan] FOREIGN KEY([User])
REFERENCES [dbo].[TaiKhoan] ([User])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_TaiKhoan]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Relationship25] FOREIGN KEY([DCID])
REFERENCES [dbo].[Discount] ([DCID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Relationship25]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [Relationship18] FOREIGN KEY([User])
REFERENCES [dbo].[TaiKhoan] ([User])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [Relationship18]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [Relationship19] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [Relationship19]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [Relationship5] FOREIGN KEY([MaLSP])
REFERENCES [dbo].[LoaiSP] ([MaLSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [Relationship5]
GO
USE [master]
GO
