@{ Error404_TLT.Areas.Areas.Controllers.ProductManagerController PMC = new Error404_TLT.Areas.Areas.Controllers.ProductManagerController(); }

<style>
    .btn_Add {
        border: none;
        color: white;
        background: #D10024;
        font-size: 20px;
    }

        .btn_Add:hover {
            background: #FF0000;
        }
</style>

<div class="modal1" style="width: 43%; margin-left: 28.5%;overflow:scroll;height:600px">

    <table class="cus2">
        <tr>
            <th colspan="2" style="background: rgb(58, 86, 119);">
                <div>
                    <h1>Thêm sản phẩm </h1>
                </div>

            </th>
        </tr>

        <tr>
            <th style="width:150px;">
                <label>Mã sản phẩm</label>
            </th>
            <td>
                <input type="text" name="ProductsId" id="add_productId" placeholder="mã sản phẩm...">
            </td>
        </tr>
        <tr>
            <th style="width:150px;">
                <label>Tên sản phẩm</label>
            </th>
            <td>
                <input type="text" name="ProductsName" id="add_productName" placeholder="tên sản phẩm...">
            </td>
        </tr>
        @{ IEnumerable<Error404_TLT.Models.Error404Entity.LoaiSP> listType = PMC.loadLoaiSP(); }
        <tr>
            <th>
                <label>Loại</label>
            </th>
            <td>
                <select id="add_productType">
                    @foreach (var item in listType)
                    {
                        <option value="@item.MaLSP">@item.TenLSP</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label class="picture">Hình</label>
            </th>
            <td>
                <div style="float: none;">
                    <label for="filebutton" id="upload-btn">
                        <span>
                            <i class="fas fa-folder-open " style="color:#fad859;"></i>
                            Open file
                        </span>
                    </label>
                    <input id="filebutton" name="Pic2" class="input-file" type="file" multiple accept="image/*"
                           style="display: none" />
                </div>
                <div class="card-deck" id="appearPic">

                </div>
            </td>
        </tr>
        <tr>
            <th>
                <label>Số lượng</label> <br>
            </th>
            <td>
                <input id="add_productAmount" class="numberrit" type="number" min="1" value="100">
            </td>
        </tr>
        <tr>
            <th>
                <label>Mô tả</label>
            </th>
            <td>
                <textarea class="textarea" id="add_productDescription" name="Config" placeholder="mô tả sản phẩm..."></textarea>
            </td>
        </tr>
        <tr>
            <th>
                <label>Thông tin khác</label>
            </th>
            <td>
                <textarea class="textarea" id="add_productMoreInfo" name="Config" placeholder="thông tin khác..."></textarea>
            </td>
        </tr>
        <tr>
            <th style="width:150px;">
                <label>Giá</label>
            </th>
            <td>
                <input type="text" name="ProductPrice" id="add_productPrice" placeholder="giá sản phẩm...">
            </td>
        </tr>
        <tr>
            <th style="width:150px;">
                <label>Giá khuyến mãi</label>
            </th>
            <td>
                <input type="text" name="ProductPrice" id="add_productPriceSale" placeholder="giá sản phẩm...">
            </td>
        </tr>
        <tr>
            <th style="width:150px;">
                <label>Views</label>
            </th>
            <td>
                <input type="text" name="ProductPrice" id="add_productViews" placeholder="giá sản phẩm...">
            </td>
        </tr>
        <tr>
            <th style="width:150px;">
                <label>LoaiHang</label>
            </th>
            <td>
                <input type="text" name="ProductPrice" id="add_productLoaiHang" placeholder="giá sản phẩm...">
            </td>
        </tr>
    </table>
</div>

<input class="btn_Add" type="button" value="Thêm" style="margin-left: 61.5%; width: 10%" />

<script>
    // Chỉnh sửa thông tin sản phẩm
    $(".btn_Add").click(function () {
        var pic = document.getElementsByClassName("takePath");
        if (pic.length < 4) {
            alert("Vui lòng thêm đủ hình");
        } else {
            //thông tin sản phẩm
            var MaSP = document.getElementById("add_productId").value;
            var LoaiSP = document.getElementById("add_productType").value;
            var img = pic[0].value;
            var img2 = pic[1].value;
            var TenSP = document.getElementById("add_productName").value;
            var SoLuong = document.getElementById("add_productAmount").value;
            var Description = document.getElementById("add_productDescription").value;
            var DonGia = document.getElementById("add_productPrice").value;
            var GiaKM = document.getElementById("add_productPriceSale").value;
            var moreInfo = document.getElementById("add_productMoreInfo").value;
            var img3 = pic[2].value;
            var img4 = pic[3].value;
            var Views = document.getElementById("add_productViews").value;
            var LoaiHang = document.getElementById("add_productLoaiHang").value;
            $.ajax({
                url: '@Url.Action("addSanPham", "ProductManager")',
                type: 'POST',
                data: {
                    MaSP: MaSP,
                    MaLSP: LoaiSP,
                    img: img,
                    img2: img2,
                    img3: img3,
                    img4: img4,
                    TenSP: TenSP,
                    DonGia: DonGia,
                    GiaKM: GiaKM,
                    SLTon: SoLuong,
                    description: Description,
                    moreInfo: moreInfo,
                    Views: Views,
                    LoaiHang: LoaiHang
                },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("fail");
                },
            });
        }
    });
</script>
<script>
//Xóa ảnh
    $("body").on("click", ".removePic", function () {
        $(this).parent().parent().parent().parent().parent().remove();
    });

    //Up ảnh
    $("#filebutton").change(function (event) {

        var dem = document.getElementsByClassName("pictureProduct").length;
        var files = event.target.files;

        for (var i = 0; i < files.length && i < 4 - dem; i++) {
            var file = files[i];
            var a = document.getElementById("add_productType").value;
            var create = document.createElement("div");

            create.innerHTML = '<div class="card mb-4 pictureProduct" style="width: 104px; float: left;">' +
                '<figure class="snip0068 yellow">' +
                '<input type="text" value="img/product/' + a + '/' + file.name + '" style="display: none" class="takePath" />' +
                '<img src="img/pUrloduct/' + a + '/' + file.name + '"/>' +
                '<figcaption> ' +
                '<div>' +
                '<span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>' +
                '</div>' +
                '</figcaption>' +
                '</figure>' +
                '</div>';

            $("#appearPic").prepend(create);
        }
    });</script>

