@model  IEnumerable<Error404_TLT.Models.Error404Entity.CTOrder>
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
}


<style>
</style>
<div class="modal1-content" style="width: 43%; margin-left: 28.5%">
    
    
    <table class="cus2">
        <thead>
            <tr>
                <th>Mã Đơn Hàng</th>
                <th>Tên Sản Phẩm</th>
                <th>Số Lượng</th>
                <th>Giá Bán</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.MaDH</td>
                <td>@item.SanPham.TenSP</td>
                <td>@item.SL</td>
                <td>$ @item.SanPham.DonGia</td>
            </tr>
            }

        </tbody>
    </table>
</div>



