
@{
    ViewBag.Title = "BaoHanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/baohanh.css" rel="stylesheet" />
<section class="main-content-section">
    <div class="container">
        <div class="row">
            <!-- MAIN-SLIDER-AREA START -->
            <div class="main-slider-area">
                <!-- SLIDER-AREA START -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-area">
                        <div id="wrapper">
                            <a href="@Url.Action("BaoHanh", "Error404")"><img src="~/Assets/img/baohanh-bg.jpg" alt="bao-hanh" title="#baohanh" /></a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- MAIN-CONTENT-SECTION START -->
            <div class="ladi-wraper">
                <div id="SECTION185" class='ladi-section'>
                    <div class="ladi-container">
                        <!-- -------------------------------------------------------------------------------------------- -->
                        <div id="GROUP816" class='ladi-element'>
                            <div class='ladi-group'>
                                <div id="HEADLINE202" class='ladi-element'>
                                    <h3 class='ladi-headline'>QUYỀN LỢI BẢO HÀNH</h3>
                                </div>
                                <div id="PARAGRAPH203" class='ladi-element'>
                                    <p class='ladi-paragraph'>Thoải mái chọn 1 trong 3</p>
                                </div>
                            </div>
                        </div>
                        <div id="GROUP815" class='ladi-element'>
                            <div class='ladi-group'>
                                <div id="GROUP814" class='ladi-element'>
                                    <div class='ladi-group'>
                                        <div id="IMAGE223" class='ladi-element'>
                                            <div class='ladi-image'>
                                                <div class="ladi-image-background">
                                                    <img src="https://w.ladicdn.com/s550x550/59852434bd61dea537c657f1/len-doi-20210527025508.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="HEADLINE224" class='ladi-element'>
                                            <h3 class='ladi-headline'>Lên đời máy mới</h3>
                                        </div>
                                    </div>
                                </div>
                                <div id="GROUP812" class='ladi-element'>
                                    <div class='ladi-group'>
                                        <div id="IMAGE221" class='ladi-element'>
                                            <div class='ladi-image'>
                                                <div class="ladi-image-background">
                                                    <img src="https://w.ladicdn.com/s450x450/59852434bd61dea537c657f1/sua-chua-20210527025457.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="HEADLINE225" class='ladi-element'>
                                            <h3 class='ladi-headline'>Sửa chữa nhiều lần</h3>
                                        </div>
                                    </div>
                                </div>
                                <div id="GROUP813" class='ladi-element'>
                                    <div class='ladi-group'>
                                        <div id="IMAGE222" class='ladi-element'>
                                            <div class='ladi-image'>
                                                <div class="ladi-image-background">
                                                    <img src="https://w.ladicdn.com/s450x450/59852434bd61dea537c657f1/doi-moi-20210527025503.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="HEADLINE226" class='ladi-element'>
                                            <h3 class='ladi-headline'>Đổi máy mới tương đương</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="LINE231" class='ladi-element'>
                            <div class='ladi-line'>
                                <div class="ladi-line-container"></div>
                            </div>
                        </div>
                        <div id="IMAGE232" class='ladi-element'>
                            <div class='ladi-image'>
                                <div class="ladi-image-background">
                                    <img src="https://w.ladicdn.com/59852434bd61dea537c657f1/pham-vi-bao-hanhsvg-20210527030140.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="GROUP817" class='ladi-element'>
                            <div class='ladi-group'>
                                <div id="HEADLINE233" class='ladi-element'>
                                    <h3 class='ladi-headline'>1. Sản phẩm áp dụng</h3>
                                </div>
                                <div id="PARAGRAPH234" class='ladi-element'>
                                    <p class='ladi-paragraph'>- iPhone, iPad, Apple Watch mới, chưa active.</p>
                                </div>
                            </div>
                        </div>
                        <div id="GROUP818" class='ladi-element'>
                            <div class='ladi-group'>
                                <div id="HEADLINE235" class='ladi-element'>
                                    <h3 class='ladi-headline'>2. Thời gian bảo hành (tính từ thời điểm xuất hoá đơn)</h3>
                                </div>
                                <div id="GROUP247" class='ladi-element'>
                                    <div class='ladi-group'>
                                        <div id="PARAGRAPH236" class='ladi-element'>
                                            <p class='ladi-paragraph'>- Gói:</p>
                                        </div>
                                        <div id="BUTTON237" class='ladi-element'>
                                            <div class='ladi-button'>
                                                <div class="ladi-button-background"></div>
                                                <div id="BUTTON_TEXT237" class='ladi-element'>
                                                    <p class='ladi-headline'>6 tháng</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="BUTTON238" class='ladi-element'>
                                            <div class='ladi-button'>
                                                <div class="ladi-button-background"></div>
                                                <div id="BUTTON_TEXT238" class='ladi-element'>
                                                    <p class='ladi-headline'>12 tháng</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="BUTTON240" class='ladi-element'>
                                            <div class='ladi-button'>
                                                <div class="ladi-button-background"></div>
                                                <div id="BUTTON_TEXT240" class='ladi-element'>
                                                    <p class='ladi-headline'>24 tháng</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="GROUP819" class='ladi-element'>
                            <div class='ladi-group'>
                                <div id="HEADLINE242" class='ladi-element'>
                                    <h3 class='ladi-headline'>3. Quyền lợi bảo hành</h3>
                                </div>
                                <div id="PARAGRAPH243" class='ladi-element'>
                                    <p class='ladi-paragraph'>- Khách hàng được lựa chọn 1 trong 3 gói:</p>
                                </div>
                            </div>
                        </div>
                        <div id="GROUP820" class='ladi-element'>
                            <div class='ladi-group'>
                                <div id="IMAGE244" class='ladi-element'>
                                    <div class='ladi-image'>
                                        <div class="ladi-image-background">
                                            <img src="https://w.ladicdn.com/59852434bd61dea537c657f1/sua-chua-1-20210528033516.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div id="IMAGE245" class='ladi-element'>
                                    <div class='ladi-image'>
                                        <div class="ladi-image-background">
                                            <img src="https://w.ladicdn.com/59852434bd61dea537c657f1/doi-moi-1-20210528033529.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div id="IMAGE246" class='ladi-element'>
                                    <div class='ladi-image'>
                                        <div class="ladi-image-background">
                                            <img src="https://w.ladicdn.com/59852434bd61dea537c657f1/len-doi-1-20210528033542.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="GROUP824" class='ladi-element'>
                            <div class='ladi-group'>
                                <div id="HEADLINE256" class='ladi-element'>
                                    <h3 class='ladi-headline'>4. Điều kiện tiếp nhận bảo hành</h3>
                                </div>
                                <div id="PARAGRAPH257" class='ladi-element'>
                                    <p class='ladi-paragraph'>- Khách xuất trình phiếu mua hàng kiêm phiếu bảo hành của PineApple.</p>
                                </div>
                                <div id="PARAGRAPH258" class='ladi-element'>
                                    <p class='ladi-paragraph'>- Máy phải được đăng xuất khỏi mọi tài khoản cá nhân (Apple ID, iCloud).</p>
                                </div>
                                <div id="PARAGRAPH259" class='ladi-element'>
                                    <p class='ladi-paragraph'>- Máy bảo hành khi trả lại được xoá toàn bộ mật khẩu và dữ liệu.</p>
                                </div>
                                <div id="PARAGRAPH260" class='ladi-element'>
                                    <p class='ladi-paragraph'>- PineApple không chịu trách nhiệm đối với mọi lỗi phát sinh sau thời hạn bảo hành.</p>
                                </div>
                                <div id="PARAGRAPH261" class='ladi-element'>
                                    <p class='ladi-paragraph'>- Trường hợp bất khả kháng, PineApple lựa chọn 1 trong 3 phương án bảo hành.</p>
                                </div>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------------------------------------- -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

